venv
src/core/description/__pycache__/operation.cpython-313.pyc
src/core/plots/__pycache__/plots.cpython-313.pyc
src/core/utils/__pycache__/parser.cpython-313.pyc
src/core/utils/__pycache__/fileio.cpython-313.pyc
